.row{
    color: whitesmoke;
    margin: 15px;
}

.row__poster{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster::-webkit-scrollbar {
    display: none;
}

.row__posters{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: 400ms;
}

.row__posters:hover{
    transform: scale(1.1);
}

.row_posterLarge{
    max-height: 200px;
}